.main {
  background-color: var(--white);
  height: 36rem;
  width: 90vw;
  border-radius: 1.5rem; // 24px
  font-family: 'Space Grotesk', sans-serif;
  padding: 2rem;
  box-sizing: border-box;
  
  @media (min-width: 36rem) {
    width: 33rem;
  }
}
