.main {
  background-color: var(--white);
  height: 80vh;
  width: 90vw;
  border-radius: 1.5rem; // 24px
  font-family: 'Space Grotesk', sans-serif;
  padding: 2rem;
  box-sizing: border-box;
  
  // just for example
  // @media (min-width: 500px) {

  // }
}
