.password-graphic {
  width: 7rem; // 112px
  height: 2rem; // 32px
  margin: 0 auto;
  border: 3px solid var(--black);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  
  &__x {
    width: 24px;
    height: 24px;
  }
}
