.password-section {
  
  &__password {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0; 
  }

  &__input-container {
    height: 2rem;
    width: 12rem;
    border: 1px solid var(--black);
    border-radius: 12px;
    display: flex;
  }
  
  &__input {
    border: none;
    border-radius: 12px;
    height: 100%;
    width: 80%;
    padding: 0px 12px;
    
    &:focus-visible {
      outline: var(--accent-color) auto 1px;
    }
  }
  
  &__reload-button {
    height: 20px;
    width: 20px;
    padding: 0;
    margin-right: 4px;
    border: none;
    align-self: center;
    background-color: transparent;
  }
  
  &__copy-button {
    width: 5rem;
    font-family: inherit;
    margin-left: 0.75rem;
    border-radius: 12px;
    border: 1px solid var(--black);
    background-color: var(--main-color);
    
    &:focus-visible {
      outline: var(--accent-color) auto 1px;
    }
  }
  
  &__copy-button-icon-container {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }
  
  &__strength {
    color: var(--red);
    width: 15rem;
    // margin: 0 auto;
  }
}
