:root {
  --main-color: hsl(170, 82%, 48%); // #16dfbd
  --accent-color: hsl(350, 95%, 75%); // pinkish
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --red: hsl(0, 100%, 50%);
  --yellow: hsl(50, 93%, 50%);
  --green: hsl(137, 90%, 24%);
}
