:root {
  --main-color: hsl(170, 82%, 48%); // #16dfbd
  --accent-color: hsl(350, 92%, 68%); // pinkish
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --red: hsl(0, 100%, 50%);
  --yellow: hsl(60, 100%, 50%);
  --green: hsl(120, 100%, 50%);
}
